.siimple-list {
  max-height: 100px;
  -ms-overflow-y: auto;
      overflow-y: auto;
  -ms-overflow-x: hidden;
      overflow-x: hidden;
  width: 320px;
}

.siimple-list-item {
  width: 300px;
}

.siimple-list-item:hover {
  opacity: 0.7;
}

.siimple-list-item a {
  display: inline-block;
  width: 100%;
}

#search-box {
  width: 300px;
}

h2 {
  margin-top: 0;
}
