<app-cat-search></app-cat-search>

<div class="siimple-grid-row">
    <div class="siimple-content siimple-content--large">
    <h2>ねこちゃんリストトップ</h2>
    <div class="siimple-grid-row">
        <div class="siimple-card" *ngFor="let cat of cats">
            <div class="siimple-card-header siimple--text-center siimple-link">
                <a routerLink="/detail/{{cat.id}}" class="siimple-link">{{cat.name}}ちゃん</a>
            </div>
            <div class="siimple-card-body">
                <blockquote class="twitter-tweet" data-lang="ja">
                    <p lang="ja" dir="ltr">{{cat.message}}<a href="https://t.co/{{cat.no}}">pic.twitter.com/{{cat.no}}</a> </p>
                    <p>{{cat.user}}<a href="https://twitter.com/{{cat.userId}}/status/{{cat.status}}?ref_src=twsrc%5Etfw">{{cat.date}}</a></p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
