.siimple-card {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-right: 2.5em;
}

.list-box {
    height: 400px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    width: 100%;
    text-align: center;
    min-width: 270px;
}

h2 {
  margin-top: 0;
}
